




{%load static %}
<!DOCTYPE html>

<style>

body {
    background-color:#B9CAF1 !important;
      
    }

.mk{
 display: inline;
    }

</style>


<html>

<head>

</head>

<body>
   
   <h1>Current Assignment Page</h1>

  
   <div class="bg">

   

    <h3 class="my-4 border-bottom pb-1"><span class="text-muted">&nbsp;&nbsp;Current Assignments</span>{{request.GET.p}}</h3>
     <div class="container bcontent">
        {% for p in ass %}
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <!-- <div class="col-lg-5">
                    <img class="card-img-top" src="/media/files/{{p.files}}" alt="Card image cap">
                </div> -->
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.assignment_name }}</h5>
                        <p class="card-text">{{ p.due_date }}</p>
                        <p class="card-text">{{ p.description }}</p>
                        
                        <div class="mk">
                            {% if user.is_staff %}
                                <a class="btn btn-sm btn-dark" href="#">Update</a>
                            
                                <a class="btn btn-sm btn-danger" href="#">Closed</a>
                    
                                <a class="btn btn-sm btn-danger" href="#">Remove</a>
                            {% else %}
                                <a class="btn btn-sm btn-dark" href="#">Submit Assignment</a>
                            
                                <a class="btn btn-sm btn-danger" href="#">Email Instructor</a>

                            {%endif%}
                    
                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->

</body>
</html>


