{%load static %}
<!DOCTYPE html>

<html>

<head>

</head>

<body>
   
   <h1>INSTRUCTOR PAGE</h1>

   <li>
    <a class="page-scroll" style="text-decoration: none;" href="{% url 'index' %}">Home</a>
</li>

<li>
    <a class="page-scroll" href="{% url 'loginpage' %}">Logout</a>
</li>

    <li>
        <a class="page-scroll" href="{% url 'add_assignment' %}">Add Assignment</a>
    </li>
    <br>
    <li>
        <a class="page-scroll" href="{% url 'all_assignment' %}">See All Assignment</a>
    </li>
    
</body>
</html>