{% load static %}
<!DOCTYPE html>
<style>
body {
  background-color:#B9CAF1 !important;

}

body{

   margin:0px;
   margin-top:60px;
   padding: 0px;
}
*,*::before,*::after{
   box-sizing: border-box;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #B9CAF1;
   overflow: auto;
   height: auto;
   text-align:center;
   overflow: visible;
}





</style>




<html>
<head>
	    <!-- =============== Bootstrap Core CSS =============== -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
		<!-- =============== Google fonts =============== -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<!-- =============== fonts awesome =============== -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
		<!-- =============== Plugin CSS =============== -->
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
		<!-- =============== Custom CSS =============== -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
		<!-- =============== Owl Carousel Assets =============== -->
		<link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'owl-carousel/owl.theme.css' %}" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/style.css' %}">
</head>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li> -->
      <h1 class="text-primary" style="text-align: center;">Student Page</h1>
      <h1 class="text-primary" style="text-align: center;">View, Download And Update Assignment</h1>
    </ul>
   
  </div>

<body id="bg">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style = "background-color: black; padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
        

            <!-- Collect the nav links, forms, and other content for toggling -->
         
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right"  style = "margin-right:210px; margin-left:-50000px">
        <li>
                        <a class="page-scroll" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'about_course' %}">About Course</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'loginpage' %}">Admin</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'unique_page' %}">Sign Up</a>
                    </li>
                    
                    <li>
                        <div class="dropdown">
                <a class="dropbtn">Important Links</a>
                <div class="dropdown-content">
                  <a href="https://www.cuny.edu/">CUNY</a>
                  <a href="https://www.ccny.cuny.edu/">CCNY</a>
                  <a href="https://www.cuny.edu/accessibility/applications/blackboard/">Blackboard</a>
                  <a href="https://degreeworks.cuny.edu/">Degree Works</a>
                  <a href="https://studentaid.gov/h/apply-for-aid/fafsa">FAFSA</a>
                  <a href="https://www.worldometers.info/coronavirus/">Covid-19</a>
                </div>
              </div>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'contact' %}">Contact</a>
                    </li>
        <li>
                        <a class="page-scroll" href="{% url 'index' %}">Logout</a>
                    </li>
                </ul>
            </div>
            
            <!-- =============== navbar-collapse =============== -->

        </div>
    </div>
    <!-- =============== container-fluid =============== -->
</nav>

<div class="modal fade" tabindex="-1" role="dialog" id="modal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



<div class="col-md-10 col-sm-4 col-xs-4" style="padding-top: 60px">
<div id="content" class="p-8 p-md-5 pt-5">
    <div class="col-md-12 col-sm-12 col-xs-10">


    	<div id="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"></a>

                    <a  class="btn btn-sm btn-success" href="{% url 'myupload' %}" style="padding: 8px; float: right; background-color: green; color: white;">Upload</a>
                </li>
            </ol> -->
            
            <div class="card mb-3">
                <div class="card-header text-primary">
               <i class="fas fa-truck text-secondary"></i>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <!-- <thead>
                            <tr>
                                <th>No</th>
                                <th>Cover</th>
                                <th>File Name</th>
                                <th>Owner</th>
                                <th>View</th>
                                <th>Download</th>
                            </tr>
                            </thead> -->
                            <tbody>


                            	<!-- if and for loop -->
                            	{% if files %}
                            	  {% for file in files %}

                        
                                <tr>
                                    <td>{{ forloop.counter }}</td>

                                    <!-- <td>
                                    {% if file.cover %}
                                    <img src="{{ file.cover.url }}" alt="{{ file.name }}" style="width:100px; height: 100px">
                                    {% else %}
                                    <span class="text-muted">No cover</span>
                                    {% endif %}
                                   </td> -->

                                   <!-- filename and owner -->
                                    <td>{{ file.name }}</td>
                                    <td>{{ file.owner }}</td>
                                     <td>

                                    {% if file.pdf %}
                                      <a href="{{ file.pdf.url }}" class="btn btn-outline-primary" target="_blank">
                                    View PDF</a>
                                    {% else %}
                                    <span class="text-muted">No PDF</span>
                                    {% endif %}
                                  </td>

                                  <td>
                                    {% if file.pdf %}
                                      <a href="{{ file.pdf.url }}" download class="btn btn-outline-success">
                                    Download PDF</a>

                                    <a  class="btn btn-sm btn-success" href="{% url 'add_assignment' %}" style="padding: 8px; float: right; background-color: green; color: white;">Upload</a>
                                    {% else %}
                                    <span class="text-muted">No PDF</span>
                                    {% endif %}
                                  </td> 
                                </tr>

                                <!-- end for and if -->
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>




  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <!-- <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li> -->
    {% else %}
      <!-- <li class="disabled"><span>&laquo;</span></li> -->
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <!-- <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li> -->
      {% else %}
        <!-- <li><a href="?page={{ i }}">{{ i }}</a></li> -->
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <!-- <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li> -->
    {% else %}
      <!-- <li class="disabled"><span>&raquo;</span></li> -->
    {% endif %}
  </ul>
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </tbody>
</table>
  



        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>















