{% load static %}
<!DOCTYPE html>
<style>
body {
  background-color:#B9CAF1 !important;

}

body{
   margin:0px;
   margin-top:60px;
   padding: 0px;
}
*,*::before,*::after{
   box-sizing: border-box;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #B9CAF1;
   overflow: auto;
   height: auto;
   text-align:center;
   overflow: visible;
}



</style>




<html>
<head>
		    <!-- =============== Bootstrap Core CSS =============== -->
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
			<!-- =============== Google fonts =============== -->
			<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
			<!-- =============== fonts awesome =============== -->
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
			<!-- =============== Plugin CSS =============== -->
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
			<!-- =============== Custom CSS =============== -->
			<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
			<!-- =============== Owl Carousel Assets =============== -->
			<link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
			<link href="{% static 'owl-carousel/owl.theme.css' %}" rel="stylesheet">
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<title>Unique Id Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/style.css' %}">
</head>
<body>
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style = "background-color: black; padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
            

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right"  style = "margin-right:210px; margin-left:-50000px">
						<li>
                            <a class="page-scroll" href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'about_course' %}">About Course</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'loginpage' %}">Admin</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'unique_page' %}">Sign Up</a>
                        </li>
                        
                        <li>
                            <div class="dropdown">
                    <a class="dropbtn">Important Links</a>
                    <div class="dropdown-content">
                      <a href="https://www.cuny.edu/">CUNY</a>
                      <a href="https://www.ccny.cuny.edu/">CCNY</a>
                      <a href="https://www.cuny.edu/accessibility/applications/blackboard/">Blackboard</a>
                      <a href="https://degreeworks.cuny.edu/">Degree Works</a>
                      <a href="https://studentaid.gov/h/apply-for-aid/fafsa">FAFSA</a>
                      <a href="https://www.worldometers.info/coronavirus/">Covid-19</a>
                    </div>
                  </div>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'contact' %}">Contact</a>
                        </li>
						<li>
                            <a class="page-scroll" href="{% url 'loginpage' %}">Login</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>

	<form action="unique_page" method="POST">
		{% csrf_token %}
		<div style="text-align: center;">
		  {% for message in messages %}
		  <h4 style="color: red;">{{message}}</h4>
		  {% endfor %}
		</div>
<br><br><br>





	<div class="loginbox">
		<h2 style= "padding-top: 70px">Enter your ID and Unique ID</h2>
		<form action="#" method = "post">
			<p>Institution ID</p>
			<input type="number" name="institution_id" placeholder="Institution Id" required>
			<p>Unique ID</p>
			<input type="text" name="unique_id" placeholder="Unique Id" maxlength="10" minlength="10" required>
			
			   <br><br>
			<button type="submit">Go to Sign Up Page</button>	

			<p>I do not have my ID or forget ID <a href="contact">Contact Register</a></p>
		</form>

	</div>



</form>

</body>
</html>
